
.banner__img::before {
    position: relative;
    background: url(/img/angle-right-solid.svg) left center no-repeat;
}

.banner__img::after {
    position: relative;
    background: url(/img/angle-right-solid.svg) right center no-repeat;
}

.banner__img {
    max-height: 448px;
    border: 20px solid white;
    border-radius: 5px 5px 0 0;
    margin-top: 60px;
    border-bottom: none;
    object-fit: contain;
    align-items: center;
}