.nav__logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 70px;
    background-color: var(--main-color);
    border-radius: 5px;
    position: relative;
    bottom: 8px;
}