.nav__text {
    align-self: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 44px;
    color: white;
    justify-self: center;
    text-decoration: none;
}

@media (max-width:585px) {
    .nav__text {
        font-size: 34px;
        padding: 0px 10px;
    }
}