.banner__text {
    display: flex;
    justify-content: center;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 64px;
    color: #fff;
    opacity: 0.6;
    font-family: 'Fjalla One', sans-serif;
    margin: 0 auto;
}