.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1170px;
    margin: 0 auto;
    max-height: 508px;
}

.banner::before {
    position: relative;
    top: 171px;
    right: 1px;
    content: url(../../../../../../img/arrow-left.png);
    max-width: 32px;
    max-height: 47px;
    align-self: flex-start;
}

.banner::after {
    position: relative;
    bottom: 171px;
    left: 1px;
    /* background: url(../../../../../../img/angle-right-solid.svg) right center no-repeat; */
    content: url(../../../../../../img/arrow-right.png);
    max-width: 32px;
    height: 47px;
    align-self: flex-end;
}


/* url(../../../../../../img/angle-right-solid.svg) left center no-repeat */