.nav__item:not(:last-child) {
    padding: 0px 20px;
    border-left: 1px solid rgb(43, 42, 42);
    background-color: hsl(0, 0%, 22%);
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    cursor: pointer;
    display: flex;
}

.nav__item:last-child {
    
    padding: 0px 20px;
    border-left: 1px solid rgb(43, 42, 42);
    border-right: 1px solid rgb(43, 42, 42);
    background-color: hsl(0, 0%, 22%);
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    cursor: pointer;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}

.nav__item-link {
    display: flex;
    align-self: center;
    height: 100%;
    align-items: center;
    color: #fff;
}

.nav__item:hover:not(:last-child) {
    background-color: hsl(0, 0%, 11%);
    margin-left: 1px;
    border: none;
}

.nav__item:hover a {
    color: var(--main-color);
}

.nav__item:last-child:hover {
    border-left: 1px solid rgb(43, 42, 42);
    border-right: 1px solid rgb(43, 42, 42);
    background-color: hsl(0, 0%, 11%);
    margin-left: 1px;
    margin-right: 1px;
    border: none;
}