.header__panel {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-height: 550px;
    box-shadow: 0 1px 4px rgb(82 84 77 / 16%);
    border-radius: 0 0 5px 5px;
    margin-bottom: 55px;
    background-color: #ffffff;
    position: relative;
    bottom: 1px;
}